:root {
  --stt: 1px;
}
.image {
  position: absolute;
  left: 30px;
  top: calc(var(--tm) + var(--stt) + 110px);
  height: 295px;
  width: 723px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.texto {
  position: absolute;
  font-size: 32px;
  left: 250px;
  top: calc(var(--tm) + var(--stt));
}
.text_cns {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  left: 60px;
  top: calc(var(--tm) + var(--stt) + 377px);
}
.cmsc {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 16px;
  left: 100px;
  top: calc(var(--tm) + var(--stt) - 35px);
}
.cns {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 39px;
  left: 126px;
  top: calc(var(--tm) + var(--stt) + 375px);
}
.nome {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 560px;
  top: calc(var(--tm) + var(--stt) + 160px);
}
.sexo {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 875px;
  top: calc(var(--tm) + var(--stt) + 160px);
}
.end0 {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 558px;
  top: calc(var(--tm) + var(--stt) + 192px);
}
.end1 {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 558px;
  top: calc(var(--tm) + var(--stt) + 213px);
}
.mae {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 558px;
  top: calc(var(--tm) + var(--stt) + 245px);
}
.nascimento {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 918px;
  top: calc(var(--tm) + var(--stt) + 275px);
}
.extra {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 13px;
  left: 965px;
  top: calc(var(--tm) + var(--stt) + 395px);
}
.municipio {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 9px;
  left: 585px;
  top: calc(var(--tm) + var(--stt) + 199px);
  color: #000000;
}
.teste {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 9px;
  left: 585px;
  top: calc(var(--tm) + var(--stt) + 199px);
  font-weight: bold;
  color: #009933;
  text-decoration: underline overline line-through;
  background-color: #99FF00;
}
.ubs {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 900px;
  top: calc(var(--tm) + var(--stt) + 305px);
}
.acs {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 560px;
  top: calc(var(--tm) + var(--stt) + 305px);
}
.cpf {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 559px;
  top: calc(var(--tm) + var(--stt) + 275px);
}
.hipertenso {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 780px;
  top: calc(var(--tm) + var(--stt) + 345px);
}
.diabetico {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 15px;
  left: 650px;
  top: calc(var(--tm) + var(--stt) + 345px);
}
.logo-pref {
  position: absolute;
  top: calc(var(--tm) + var(--stt) + 5px);
  left: 465px;  
  width: 65px;
  height: 65px; 
}
.logo {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  text-align: center;
  top: calc(var(--tm) + var(--stt) - 10px);
  width: 250px;
  line-height: 30px;
  height: 30px;
}
.nqrcode {
  position: absolute;
  top: calc(var(--tm) + var(--stt) + 153px);
  left: 820px; 
  width: 55px;
  height: 55px;
}
.qrcodet {
  width: 100px;
  height: 100px; 
}
.qrcode {
  position: absolute;
  top: calc(var(--tm) + var(--stt) + 180px);
  left: 50px; 
}



