  .ind-vermelho {
    background-color: #fac0aab8 !important;
  }
  .ind-amarelo {
    background-color: #FFFF00 !important;
  }
  .ind-verde {
    background-color: #ADFF2F !important;
  }
  .ind-azul {
    background-color: #00BFFF !important;
  }